body{
	background-color: #ccc;
}

#play-list{
    height: 80%;
    background-color: #fff;
    padding-right: 20px;
}
#play-list .list-group-item{
	border: 0px;
	padding: 0px 15px;
}
#play-list li{
    margin-bottom: 5px;
}
#play-list .list-group-item.active{
	background-color: #fff;
}
#play-list .list-group-item.active a{
}
#play-list .list-group-item.active span:before{
	font-family: FontAwesome;
	content: "\f0da";
    left:-5px;
    position:absolute;
    top:0;
    color:#000;
}

#all-music{
    height: 80%;
    background-color: #fff;
    padding-right: 20px;
}
#all-music .list-group-item{
	border: 0px;
	padding: 0px 15px;
}

.my-player-wrapper{
	height: 20%;
	background-color: #ccc;
	position: fixed;
	bottom: 0px;
	border-top: solid 2px lightgoldenrodyellow;
} 
.my-player-wrapper .progress{
	height: 5px;
    cursor: pointer;
    margin: 0 0 10px;
}
.my-player-wrapper .controls{
	text-align: center;
}
.my-player-wrapper .player-seeker-progress{
	background-color: transparent;
}
.my-player-wrapper .progress.player-buffer-progress{
    position: relative;
    margin-top: -15px;
    z-index: -1;
}

.my-player-wrapper .controls li{
	list-style: none;
    display: inline-block;
}
.my-player-wrapper .controls #play{
    background-color: red;
}

.my-player-wrapper .controls .volume-control{
    position: relative;
    top: 6px;
    width: 100px;
}
